body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
@font-face
{
    font-family: Telegraf;
    src: url('fonts/Telegraf400.otf');
}@font-face { 
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf');
}
@font-face { 
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.ttf');
}

.top-header {
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: black;
    text-align: center;
    margin-top: 0;
    flex-shrink: 0;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.nav-link.active {
    color: #2477D8;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top-header em {
    color: #4CD740;
    font-family: 'Lato';
    font-weight: 800;
}

.header-icon {
    width: 67.143px;
    height: 47px;
    flex-shrink: 0;
}

.header img{
    width: 300px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
}

.header a {
    font-family: Telegraf;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 91%; /* 18.2px */
    text-decoration: none;
}

.header a span {
    background: linear-gradient(91deg, #3A69FF 3.39%, #C23E56 57.26%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.nav-link {
    color: #000;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-right: 45px;
}

.popular {
    border-radius: 50px;
    border: 1px solid #FFF;
    background: #6DB467;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    height: 40px;
    flex-shrink: 0;
    font-family: 'Poppins';
    margin-left: 7rem;
    margin-top: -2rem;
    font-size: 24px;
    color: #fff;
    font-style: normal;
    width: 100px;
    font-weight: 500;
    line-height: normal;
    padding-top: 1rem;
}

.pricing {
    text-align: center;
    margin: 5rem 0;
}

.pricing .login {
    border-radius: 100px;
    background: var(--CHATBOT-GRADIENT, linear-gradient(130deg, #3A69FF 3.51%, #C23E56 99.85%));
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);
    width: 182px;
    height: 65px;
    flex-shrink: 0;
    font-family: Telegraf;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: #FFF;
    position: absolute;
}

.pricing .free-trial {
    border-radius: 100px;
    width: 200px;
    height: 65px;
    flex-shrink: 0;
    text-indent: 3rem;
    border-radius: 50px;
    border: 1px solid #E2E2E2;
    background: #F4F4F4;
    color: #969696;
    text-align: center;
    margin-left: 7rem;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.money {
    color: #398D32;
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.month {
    color: #524F4F;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pricing-section  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cardd{
    width: 440px;
    height: 744px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #F9F9F9;
    text-align: center;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.10);
}

.cardd button.advance-btn{
    border-radius: 15px;
    background: var(--CHATBOT-GRADIENT, linear-gradient(130deg, #3A69FF 3.51%, #C23E56 99.85%));
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);
}

.buttons .login{
    border-radius: 100px;
    border: 6px solid var(--CHATBOT-GRADIENT, #3A69FF);
    background: var(--CHATBOT-GRADIENT, linear-gradient(130deg, #3A69FF 3.51%, #C23E56 99.85%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 182px;
    height: 65px;
    padding: .5rem 1rem;
    flex-shrink: 0;
    font-family: Telegraf;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.buttons .free-trial, .photo-text button  {
    border-radius: 100px;
    background: var(--CHATBOT-GRADIENT, linear-gradient(130deg, #3A69FF 3.51%, #C23E56 99.85%));
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);
    width: 182px;
    height: 65px;
    flex-shrink: 0;
    padding: 1rem 1rem;
    font-family: Telegraf;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: #FFF;
}

main {
    margin: 0 auto;
    width: 85vw;
}

.text-group1 {
    color: #000;
    font-family: 'Telegraf';
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 124.5%; /* 59.76px */
    width: 636px;
    height: 114px;
    flex-shrink: 0;
    margin-top: 10rem;
}

.text-group1 .communication {
    color: #2477D8;
    font-family: 'Telegraf';
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 124.5%; /* 59.76px */
}

.text-group1 .join {
    color: #000;
    font-family: 'Poppins';
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 687px;
    height: 107px;
    flex-shrink: 0;
}

.text-group1 .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons .book-demo {
    border-radius: 41.429px;
    border: 6.629px solid #3A69FF;
    background: rgba(36, 119, 216, 0.09);
    background: var(--CHATBOT-GRADIENT, linear-gradient(130deg, #3A69FF 3.51%, #C23E56 99.85%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 292px;
    height: 80px;
    flex-shrink: 0;
    font-family: Telegraf;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.header-nav .buttons{
    margin-left: auto;
}

.text-group1 .buttons .book-demo{
    height: 50px;
}

.text-group1 .buttons .free-trial {
    border-radius: 82.692px;
    background: var(--CHATBOT-GRADIENT, linear-gradient(130deg, #3A69FF 3.51%, #C23E56 99.85%));
    box-shadow: 0px 0px 11.57692px 0px rgba(0, 0, 0, 0.10);
    width: 258px;
    height: 40px;
    flex-shrink: 0;
    font-family: Telegraf;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-right: 45px;
}

.book-demo img {
    width: 43px;
    height: 43px;
    flex-shrink: 0;
}

.first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bot {
    width: 40%;
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: auto;
}

.brands {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.title, .partners .title{
    color: #000;
    font-family: Telegraf;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.help, .market{
    text-align: center;
}

.title em {
    background: linear-gradient(243deg, #3A69FF 11.58%, #C23E56 25.53%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.help > div {
    height: 839px;
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.10);
}

.market > .maketing-content{
    height: 500px;
    border-radius: 25px;
}

.help > div > h3, .read-more {
    color: #398D32;
    font-family: 'Poppins';
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.help > div > h3{
    margin: 1rem 2rem;
}

.sales {
    text-align: left;
}

.sales img {
    height: 770px;
}

.help1 {
    display: flex;
    flex-direction: row;
}

.help-image {
    margin-right: 2rem;
}

.help2 strong {
    color: #398D32;
    font-family: Telegraf;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.help2 b{
    color: #000;
    font-family: Telegraf;
    font-size: 36px;
}

.help2 {
    padding-top: 5rem;
}

.help2 .join {
    width: 585px;
    height: 92px;
    flex-shrink: 0;
    color: #525252;
    font-family: 'Poppins';
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.features {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5rem;
}

.features label {
    color: #A7A7A7;
    font-family: 'Poppins';
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.features .line{
    background-color: #A7A7A7;
    height: 2px;
    width: 60%;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #000;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content img {
    width: 13px;
    height: 13px;
    padding-right: 10px;
    margin: auto 0;
    padding: 0;
}

.social {
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.10);
}

.social .top {
    border-radius: 25px;
    background: #e6e1e1;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
}

.top a.active {
    color: #2EAD1F;
    border-bottom: 10px solid #2EAD1F;
    border-radius: 5px 5px;
}

.top a {
    font-family: 'Poppins';
    font-size: 32px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.main {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 72px;
}

.phone-content {
    margin-top: 6rem;
    margin-left: 171px;
}

.main .text {
    border-radius: 15px;
    background: #F3F3F3;
    color: #000;
    font-family: 'Poppins';
    padding: 10px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 608px;
    height: 175px;
    flex-shrink: 0;
}

.integration {
color: #000;
font-family: Telegraf;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.integration strong {
    background: var(--CHATBOT-GRADIENT, linear-gradient(130deg, #3A69FF 3.51%, #C23E56 99.85%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

img.social-media {
    width: 100%;
height: 568px;
flex-shrink: 0;
}

.why_us {
    font-family: Telegraf;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background: var(--CHATBOT-GRADIENT, linear-gradient(130deg, #3A69FF 3.51%, #C23E56 99.85%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.help > .why_us_content, .maketing-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.help > .maketing-content {
    height: 400px;
}

.help > .why_us_content {
    height: 650px;
}

.element, .marketing-card {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: auto;
    gap: 10px;
}

.element img {
    width: 250px;
    height: 250px;
}

.element .title, .marketing-card .title {
    color: #000;
    font-family: 'Poppins';
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.marketing-card{
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
}
.element p, .marketing-card p{
    color: #000;
text-align: center;
font-family: 'Poppins';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 355px;
height: 225px;
flex-shrink: 0;
}

.help .cards {
    display: flex;
    flex-direction: row;
    gap: 70px;
    min-width: 671px;
    min-height: 450px;
    height: fit-content;
    margin: auto;
    overflow-y: auto;
}

.card {
    border-radius: 15px;
    border: 1px solid #B0D5FF;
    background: #F8F8F8;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.10);
    width: 671px;
    height: 340px;
    flex-shrink: 0;
    text-align: left;
    padding: 1rem 2rem;
}

.card-header {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 1rem 0;
}

.card-header label {
    font-size: 2rem;
}

.card-content{
    color: #676666;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.profile {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    margin-right: 1rem;
}

.name {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.image_container {
    text-align: center;
}

.card_footer {
    border-radius: 0px 0px 15px 15px;
    background: #E6F1FF;
    width: 671px;
    flex-shrink: 0;
    height: 155px;
    display: flex;
    margin: 0;
    flex-direction: column;
}

.card_footer p {
    width: 608px;
    color: #000;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0 1rem;
}

a {
    text-decoration: none;
}

.card_footer .card_footer_link {
    margin-left: auto;
    color: #398D32;
font-family: 'Poppins';
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 0 1rem;
}

.help .blog {
    border-radius: 15px;
    border: 1px solid #B0D5FF;
    background: #F8F8F8;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.10);
    width: 671px;
    height: fit-content;
    flex-shrink: 0;
    text-align: left;
    padding: 1rem 0 0 0;
}

.chat-bot {
    background: linear-gradient(96deg, #FFF8E3 0%, #FFF 100%);
    width: 100%;
    height: 563px;
    flex-shrink: 0;
    margin: 6%  -7% 0 -7%;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 100px;
}

button {
    cursor: pointer;
}

.chat-bot-section {
    width: 100vw;
}

.photo-container img{
    width: 313px;
    height: 313px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 15%;
}

.photo-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 4rem;
}

.photo-text p {
    color: #000;
font-family: Telegraf;
font-size: 40px;
font-style: normal;
font-weight: 800;
width: 70%;
text-align: left;
line-height: 124%; /* 49.6px */
}

footer
{
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
    color: #000;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    padding-top: 3%;
    margin-bottom: 0;
    width: 100vw;
    background: #F8F8F8;
}

footer img{
    width: 250px;
}

footer ul > label {
font-weight: 800;
margin-bottom: 3%;
font-family: 'Poppins';
}

ul li {
    margin: 1rem 0;
    list-style-type: none;
    width: 300px;
}

.marketing-card > div {
    width: 100%;
    height: 800px;
}

.customer {
    width: 900px;
}

#features, #features .help2, #features .help-image{
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

#features {
    justify-content: space-evenly;
}

#features .help2 p {
    color: #626262;
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    line-height: 125.5%; /* 40.16px */
    width: 618px;
}

#features .help2 h3{
    text-align: left;
}

.title .title {
    color: #2477D8;
font-family: 'Poppins';
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.about_us{
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 6% 0;
}

.industries{
    text-align: center;
    height: 300px;
    align-items: center;
    align-content: center;
    margin: 6% 0;
}

.industries .span{
    background: var(--CHATBOT-GRADIENT, linear-gradient(130deg, #3A69FF 3.51%, #C23E56 99.85%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Telegraf;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 124.5%;
    text-transform: capitalize;
}

.industries .join {
    color: #000;
text-align: center;
font-family: 'Poppins';
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.side-bar {
    width: 15vw;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    align-items: center;
    align-content: center;
    gap: 50px;
    border-right: 3px solid #cfcfcf;
}

.side-bar a {
text-align: center;
font-family: 'Poppins';
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
color: #000;
width: 100%;
}

.side-bar a.active {
    color: #2477D8;
    border-bottom: 5px solid #2477D8;
    border-radius: 0 5px 0 5px;
    padding-bottom: 1rem;
}

h3.header {
    color: #000;
    text-align: center;
    font-family: 'Poppins';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.industries2 {
    display: flex;
    flex-direction: row;
    border: 3px solid #cfcfcf;
    width: 97vw;
    margin-left: -7%;
    overflow-y: scroll;
}

.subheader {
    color: #000;
text-align: center;
font-family: 'Poppins';
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: left;
}

.head {
    text-align: center;
    align-items: center;
    align-content: center;
}

.contents .join{
    color: #000;
font-family: 'Poppins';
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.contents {
    padding: 3rem;
    width: 100%;
}

.login_background{
    width: 100vw;
    height: 100vh;
    background: #F3F3F3;
    padding-top: 5%;
}

.login_card{
    width: 658px;
    height: 658px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 2px solid rgba(163, 72, 126, 0.66);
    background: #FFF;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.10);
    margin: 0 auto;
}


.form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.7rem;
}

.form img {
    width: 300px;
    height: 70px;
    margin: 3rem 0;
}

.form .login-input, .form .trial-input, .input, .code, .phone {
    border-radius: 15px;
    align-self: center;
    border: 1px solid #DBDBDB;
    background: #FFF;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.10);
    height: 60px;
    font-size: 1.5rem;
    flex-shrink: 0;
    text-indent: .5rem;
    color: #ADADAD;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.code {
    width: 100px;
}
.phone{
    width: 300px;
}
.input{
    width: 200px;
}
.form .trial-input{
    width: 410px;
}
.form .login-input{
    width: 518px;
}

.remember{
    display: flex;
    width: 518px;
    height: 82px;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
}

.forgot {
    color: #5F5E5E;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sign-up{color: #2477D8;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

div.partners {
    background: linear-gradient(96deg, #faf7ed 0%, #FFF 100%);
}

.login-btn {
    border-radius: 10px;
    background: var(--CHATBOT-GRADIENT, linear-gradient(130deg, #3A69FF 3.51%, #C23E56 99.85%));
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);
    width: 207px;
    height: 70px;
    align-self: center;
    flex-shrink: 0;
    color: white;
    font-weight: 700;
    font-size: 1rem;
}

.help p.partner{
    color: #626262;
    text-align: center;
    font-family: 'Poppins';
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 145.5%; /* 37.83px */
    width: 932px;
    height: 160px;
    align-self: center;
    margin: 0 auto;
    flex-shrink: 0;
}

.partner {
    color: #398D32;
}

.partners .title {
    padding-top: 3%;
}

.about_us p{
    margin-left: auto;
    margin-right: auto;
}

.about_us .span {
    color: #000;
    text-align: center;
    font-family: 'Inter';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.about_us p {
    width: 687px;
    height: 107px;
    flex-shrink: 0;
    align-self: center;
    color: #000;
    font-family: 'Poppins';
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about_us img {
    margin-top: -4rem;
}

.about_us > p.join {
    margin-top: 5rem;
}

.cardd button {
    border-radius: 15px;
    width: 378px;
    height: 60px;
    flex-shrink: 0;
    background: #2477D8;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-size: 24px;
}

.cardd .card .content{
    margin-bottom: .4rem;
}

.cardd .card {
    padding: 1rem;
    color: #524F4F;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

#menu {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #b9ffee;
    padding: 0 10%;
    gap: 10px;
}
#menu .buttons{
    gap: 10px;
    align-items: left;
}

#menu a {
    width: 50%;
    padding-right: 0;
}

.cardd .card .plan {
    margin-bottom: 1.5rem;
    color: #000;
    text-align: center;
    font-family: 'Poppins';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cardd .card {
    width: 372px;
    height: 401px;
    flex-shrink: 0;
    margin: 0 auto;
    border-radius: 10px;
    background: #FFF;
}

#faq {
    text-align: center;
}

.faq{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #D1D1D1;
    background: #F8F8F8;
    color: #4E4E4E;
    align-content: center;
    align-items: baseline;
    height: fit-content;
    margin: 1rem auto;
    gap: 20px;
    border-radius: 15px;
    padding: 0 1rem;
    width: 92%;
}

.faq p {
    background: #F8F8F8;
    color: #4E4E4E;
    text-align: center;
    font-family: 'Poppins';
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 1000px;
    height: 40px;
    overflow: hidden;
}

.faq button{
    width: 50px;
    height: 50px;
    border: 0;
}

.freetrial_background{
    width: 100vw;
    height: 100vh;
    background: #F3F3F3;
    padding-top: 5%;
}

.freetrial_card{
    width: 1000px;
    height: 658px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 2px solid rgba(163, 72, 126, 0.66);
    background: #FFF;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.10);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.freetrl{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.freetrl:first-child{
    margin-top: .5rem;
    margin-left: .5rem;
}

.freetrl_signup{
    display: flex;
    flex-direction: column;
}



.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.form label input[type="checkbox"]{
    align-self: center;
    justify-self: center;
    float: left;
    color: #5F5E5E;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form input[type="checkbox"]{
    border-radius: 2px;
border: 1px solid #B0B0B0;
background: #FFF;width: 25px;
height: 25px;
flex-shrink: 0;
}

.trial-btn {
    width: 431px;
height: 60px;
flex-shrink: 0;
border-radius: 10px;
background: var(--CHATBOT-GRADIENT, linear-gradient(130deg, #3A69FF 3.51%, #C23E56 99.85%));
box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);color: #FFF;
font-family: 'Poppins';
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.book_demo_container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
}

.book_demo_content{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    justify-content: space-between;
}

.column1, .column1 div {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}
.column1 div {
    gap: 1rem;
}
.column1 {
    gap: 5rem;
}

.column1 div label {color: #000;
    font-family: 'Poppins';
    vertical-align: middle;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.column1 div .leading_brands {
    color: #6B6B6B;
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.column2 {
    border-radius: 20px;
    background: #FDFDFD;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.10);
    width: 680px;
    height: 800px;
    flex-shrink: 0;
    text-align: center;
}

.column2 .form .input {
    width: 300px;
}

.column2 .form .phone {
    width: 500px;
}

.column2 .form .trial-input {
    width: 610px;
}

.column2 .checkbox {
    width: 610px;
    float: left;
}

.column1 .leads {
    margin-top: 7rem;
}

.marquee-brands{
    display: none;
}
#menu {
    display: none;
}
@media (min-width: 600px) {
    .btn, #menu {
        display: none;
    }
}

@media (max-width: 600px) {
    .freetrial_card {
        flex-direction: column;
        width: 490px;
        height: fit-content;
        font-size: 12px;
    }
    .marquee-brands{
        display: inline;
        align-content: center;
        align-items: center;
    }
    #help-image{
        height: 400px;
    }
    .marquee-brands img{
        padding-right: 20px;
        width: 100px;
        height: 60px;
    }
    .help{
        height: fit-content;
    }
    .help .why_us_content {
        display: flex;
        flex-direction: column;
        -ms-flex-direction: column;
        height: fit-content;
    }

    .partners {
        height: fit-content;
    }

    .partners img {
        width: 100%;
        height: 100%;
    }
    .help1, .text-group1, .help > div, .help2{
        flex-direction: column;
        height: fit-content;
    }
    div .ellipse{
        width: 25px;
        height: 25px;
    }
    .help > div img {
        width: 100%;
    }
    .element p,.marketing-card p {
        width: auto;
        height: auto;
    }
    .sales {
        flex-direction: column;
        height: fit-content;
    }
    .brands {
        display: none;
    }
    .join{
        width: 100%;
    }
    p.content{
        flex-direction: row;
        gap: 10px;
        text-align: start;
        width: 300px;
    }
    footer, .features {
        display: flex;
        flex-direction: column;
    }
    .features label{
        font-size: 16px;
    }
    .features 
    .help p.partner{
        width: auto;
        height: auto;
    }
    .social, .social .top, .chat-bot{
        display: flex;
        flex-direction: column;
    }
    .social .top{
        width: auto;
        height: auto;
    }
    .top a {
        width: 100%;
    }
    .profile {
        max-width: 70px;
        height: auto;
    }
    .card-header {
        padding: .5rem 0;
    }
    .card-content{
        max-width: 380px;
        font-size: 16px;
        max-height: auto;
    }
    .header img{
        width: 150px;
    }
    .header-nav, .buttons{
        display: flex;
        flex-direction: column;
    }
    .buttons .login, .buttons .free-trial{
        width: 50%;
        height: auto;
    }
    nav .buttons{
        margin-left: 0;
        width: 100%;
        gap: 10px;
    }
    .header-nav{
        display: none;
    }
    .card{
        max-width: 290px;
        height: auto;
    }
    #phone{
        height: 50%;
        width: 100%;
    }
    .card-header label {
        font-size: 1em;
    }
    .chat-bot-section{
        max-height: auto;
    }
    .chat-bot{
        margin: 0 auto;
        gap: 40px;
    }
    .photo-container img{
        width: 150px;
        height: 150px;
        padding: auto;
        align-items: center;
        align-content: center;
    }
    .photo-text p{
        max-width: 70%;
        font-size: 16px;
    }
    .about_us .span{
        font-size: 24px;
        width: auto;
    }
    .about_us p{
        font-size: 16px;
        width: auto;
    }
    .about_us img {
        max-width: 350px;
        max-height: auto;
    }
    .btn {
        display: block;
        border: 0;
        background-color: transparent;
    }
    .btn img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .first, .text-group1 .buttons{
        flex-direction: column;
        gap: 10px;
    }
    .text-group1{
        width: auto;
    }
    .text-group1 .communication,.text-group1{
        font-size: 32px;
    }
    .text-group1 .join{
        width: 100%;
        height: auto;
    }
    .text-group1 .buttons .free-trial, .text-group1 .buttons .book-demo{
        width: 100%;
        height: auto;
    }
    .bot {
        width: 70%;
    }
    .help2 {
        padding: 0 10px;
    }
    .help2 strong, .help2 b {
        font-size: 24px;
    }
    .help2 .join{
        font-size: 16px;
        width: auto;
        height: auto;
    }
    .content{
        font-size: 16px;
    }
    .content p{
        width: 90%;
    }
    .content img{
        width: 13px;
        height: 13px;
    }
    .main {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .phone-content {
        margin: 0;
        padding: 10px;
    }
    #whatsapp {
        width: 50px;
        height: 50px;
    }
    .main .text {
        width: auto;
        height: auto;
        font-size: 16px;
    }
    img.social-media{
        height: auto;
        width: 100%;
    }
    .market > .maketing-content, .market{
        flex-direction: column;
        gap: 10px;
        height: auto;
        width: auto;
    }
    .element .marketing-card{
        height: auto;
    }
    .marketing-card > div {
        width: 100%;
        height: 40px;
    }
    #features .help2 p {
        width: auto;
    }
    .pricing-section  {
        flex-direction: column;
        gap: 30px;
    }
    .cardd .card, .cardd{
        width: auto;
        height: auto;
    }
    .cardd:first-child{
        margin-bottom: 1rem;
    }
    .cardd button.advance-btn, .cardd button{
        width: 100%;
    }
    .popular {
        position: absolute;
        height: 40px;
        flex-shrink: 0;
        font-family: 'Poppins';
        margin-left: 0rem;
        margin-top: -2rem;
        font-size: 16px;
        color: #fff;
        font-style: normal;
        width: 100px;
        font-weight: 500;
        line-height: normal;
        padding-top: 1rem;
    }
}